<%- include('./template/header.ejs') %>

<div class="depend">
  <div class="gold1 g1"  style="background-image: url('assets/image/home/gold1.png')"></div>
  <div class="gold1 g2"  style="background-image: url('assets/image/home/gold1.png')"></div>
  <div class="gold1 g3"  style="background-image: url('assets/image/home/gold1.png')"></div>
  <div class="gold1 g4"  style="background-image: url('assets/image/home/gold1.png')"></div>
  <div class="gold1 g5"  style="background-image: url('assets/image/home/gold1.png')"></div>
  <div class="gold1 g6"  style="background-image: url('assets/image/home/gold1.png')"></div>
  <div class="gold1 b1"  style="background-image: url('assets/image/home/blue1.png')"></div>
  <div class="gold1 b2"  style="background-image: url('assets/image/home/blue1.png')"></div>
  <div class="gold1 b3"  style="background-image: url('assets/image/home/blue1.png')"></div>
  <div class="gold1 b4"  style="background-image: url('assets/image/home/blue1.png')"></div>
  <div class="gold1 b5"  style="background-image: url('assets/image/home/blue1.png')"></div>
  <div class="gold1 r1"  style="background-image: url('assets/image/home/red1.png')"></div>
  <div class="gold1 r2"  style="background-image: url('assets/image/home/red1.png')"></div>
  <div class="gold1 r3"  style="background-image: url('assets/image/home/red1.png')"></div>
  <div class="gold1 r4"  style="background-image: url('assets/image/home/red1.png')"></div>
  <div class="gold1 r5"  style="background-image: url('assets/image/home/red1.png')"></div>
  <div class="gold1 r6"  style="background-image: url('assets/image/home/red1.png')"></div>

 <section class='about'>
   <div class="container row">
     <div class="col s12 m12 l12 scar">
       <h5>Who <b>We Are</b></h5>

       <p>BOLD FACADE DEVELOPMENT SERVICES LIMITED is a multidisciplinary Architecture,
         Master planning, Construction, Interior design, Project management,
         Landscaping, Real Estate and Facility management firm. It was founded in 2020
         by a team of young professionals with many years of experience in the building
         Industry
       </p>

       <p><a href="contact" class="btn">Know More</a></p>
     </div>


   </div>
 </section>


  <section class='whyus'>
    <div class="container row">
      <div class="col s12 m6 l6 owo" style="background-image: url('assets/image/home/about2.svg')"> </div>

      <div class="col s12 m12 l12 scar">
        <h5>Why <b>Us</b></h5>

        <p>Our clients choose us because we are keen at providing innovative and
          unmatched service delivery and offer some of the best value for money in
          the industry. We do not fail to pay attention to details with the sole aim of
          making BOLD our client’s desires. The satisfaction of our clients is our
          ultimate goal and we do not trade that for any reason.
        </p>

       </div>

    </div>
  </section>

  <section class="vision">
    <div class="vision1 container">
      <p><a href="#" class="btn black-text white"> <img src="assets/image/home/red.png" alt="icons">Vision </a></p>
      <p>To make Bold our clients expectations and turning their dreams into reality.</p>
    </div>

    <div class="vision2 container">
      <p><a href="#" class="btn black-text white"> <img src="assets/image/home/blue.png" alt="icons">Mission </a></p>
      <p> BOLD FACADE DEVELOPMENT SERVICES LIMITED is committed to delivering quality and
        professional outcomes with Integrity and Accountability through proven innovative method</p>
    </div>
  </section>


  <section class="specialties" >
    <h4 class="">Our <b>Specialties</b></h4>
    <div class="row container">
      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-content black-text">
            <span class="card-title"><img src="assets/image/home/abt1.svg" alt="moneytransfer"></span>
            <h5>Quick <b>Response</b></h5>
            <hr>
            <p>
              Our response to our client's request and need is quick and timely. Bold facade can handle anything from the simplest to the most complex projects through proven innovative methods.
            </p>
            </div>
          </div>
      </div>

      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-content black-text">
            <span class="card-title"><img src="assets/image/home/abt2.svg" alt="moneytransfer"></span>
            <h5>Great <b>Communication</b></h5>
            <hr>
            <p>We ensure that our clients are kept abreast with information and updates as regards delivery of high quality services, competitive prices, design works and deadline driven works. Bold facade offers precise design works as well as full offset design capabilities. Our relationship with our clients is one of a kind
            </p>
            </div>
          </div>
      </div>

        <div class="col s12 m4 l4">
          <div class="card">
            <div class="card-content black-text">
              <span class="card-title"><img src="assets/image/home/abt3.svg" alt="moneytransfer"></span>
              <h5>Customer <b>Satisfaction</b></h5>
              <hr>
              <p>Our infrastructural solutions can be customized
                to fit any business and budget. Our clients are
                able to count on us for superior job execution
                and expert advice. Knowing and listening to our
                customers has been essential to our continued
                success</p>
              </div>
            </div>
         </div>

    </div>

  </section>


</div>



<%- include('./template/footer.ejs') %>
