<%- include('./template/header.ejs') %>

<section class="blog">
  <div class='container'>
    <div class="row vid1">
      <div class='col s12'>
        <video controls>
          <source src="assets/video/boldfacade001.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
      </div>

      <div class="container row vid2">
        <div class='col s12'>
          <video controls>
            <source src="assets/video/boldfacade002.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
        </div>

        <div class='advert'>
          <h4>Place your adverts with us today</h4>
            <a class='btn' href='contact#getintouch'> Contact us</a>
        </div>

  </div>
</section>
<%- include('./template/footer.ejs') %>
