<%- include('./template/header.ejs') %>

<section class="contact">
  <style media="screen">
    body{
      background:#100600;
    }
    header nav ul li a{
     }
    .contact{
       position: relative;
       z-index: 2;
       background: transparent;
     }
  </style>

  <h4 class="center white-text darken-1"> <%= status %></h4>
</section>
<style media="screen">
  .contact{
    height: 500px;
    padding-top: 70px;
  }
  h4{
    padding-top:50px;
  }
</style>

<%- include('./template/footer.ejs') %>
