
<%- include('./template/header.ejs') %>

<div class="depend">
  <div class="gold1 g1"  style="background-image: url('assets/image/home/gold1.png')"></div>
  <div class="gold1 g2"  style="background-image: url('assets/image/home/gold1.png')"></div>
  <div class="gold1 g3"  style="background-image: url('assets/image/home/gold1.png')"></div>
  <div class="gold1 g4"  style="background-image: url('assets/image/home/gold1.png')"></div>
  <div class="gold1 g5"  style="background-image: url('assets/image/home/gold1.png')"></div>
  <div class="gold1 g6"  style="background-image: url('assets/image/home/gold1.png')"></div>
  <div class="gold1 b1"  style="background-image: url('assets/image/home/blue1.png')"></div>
  <div class="gold1 b2"  style="background-image: url('assets/image/home/blue1.png')"></div>
  <div class="gold1 b3"  style="background-image: url('assets/image/home/blue1.png')"></div>
  <div class="gold1 b4"  style="background-image: url('assets/image/home/blue1.png')"></div>
  <div class="gold1 b5"  style="background-image: url('assets/image/home/blue1.png')"></div>
  <div class="gold1 r1"  style="background-image: url('assets/image/home/red1.png')"></div>
  <div class="gold1 r2"  style="background-image: url('assets/image/home/red1.png')"></div>
  <div class="gold1 r3"  style="background-image: url('assets/image/home/red1.png')"></div>
  <div class="gold1 r4"  style="background-image: url('assets/image/home/red1.png')"></div>
  <div class="gold1 r5"  style="background-image: url('assets/image/home/red1.png')"></div>
  <div class="gold1 r6"  style="background-image: url('assets/image/home/red1.png')"></div>
 <section class='port'>
   <div class="row">
     <div class="col s12 m12 l12 scar">
       <h5>We make <b>Bold</b> your <b> exceptions</b>
       and turn your <b>dreams</b> into reality.</h5>

       <p>Our aim is to create attractive, functional & safe urban environments linking
         buildings, spaces and activities. Urban design assessment reports including
         visual, bulk and spatial analysis</p>

         <ul>
           <li><a href="contact#getintouch" class="btn ">Start A Project With Us Today</a></li>
           <li><a href="projects"><i class="material-icons"> edit</i> Our Previous Projects</a></li>
         </ul>

     </div>

   </div>
 </section>

 <section class='history'>
   <div class="container">

   <h4>Our <b>History</b></h4>
   <p style='margin-bottom: 30px'>
     Bold Facade Development Services Limited was founded by a group of experienced professionals in 2020. The company has
     experience in many project types including private residential, multi-storey residential, educational, retail, commercial, and
     industrial.
      <p style="margin: 10px auto">
       <b>CEO: Arc Daniel Sokowam Akpama. <br>ND, BTECH, MTECH, ARCON</b>
      </p>
   </p>

   <p><a href="contact#getintouch" class="btn know center">Know More</a></p>
 </div>
 <div class="cool">
   <h4>We Design To Suit Your Needs </h4>
    <div class="cool1">
      <div class="col s12 m12 l12 deck1">
        <ul>
          <li><img src="assets/image/home/circlegold.png" alt="architecture"> </li>
          <li><h4>Architecture Services</h4> </li>
        </ul>
      </div>

      <div class="col s12 m12 l12 deck2">
        <div class="row">
          <div class="col s12 m4 l4">
            <ul>
              <li><img src="assets/image/home/blue.png" alt="architecture"> </li>
              <li><h5>Pre-Design</h5> </li>
              <p>
                Assisting with formulation of a brief; bulk and location
                studies; evaluation of properties; feasibility studies;
                resource consent applications; encroachment licence
                applications; arranging land surveys and geotechnical
                reports.
            </p>
            </ul>
          </div>
          <div class="col s12 m4 l4">
            <ul>
              <li><img src="assets/image/home/gold.png" alt="architecture"> </li>
              <li><h5>Sketch Design</h5> </li>
              <p>Space planning; architectural design; engaging consultants; preliminary estimates of cost
            </p>
            </ul>
          </div>
          <div class="col s12 m4 l4">
            <ul>
              <li><img src="assets/image/home/red.png" alt="architecture"> </li>
              <li><h5>Developed Design</h5> </li>
              <p>Detailed planning; selecting materials; presentation drawings; 3D computer models; preparation of colour sample boards.
            </p>
            </ul>
          </div>
          </div>

          <div class="row">
          <div class="col s12 m4 l4">
            <ul>
              <li><img src="assets/image/home/blue.png" alt="architecture"> </li>
              <li><h5>Documentations</h5> </li>
              <p> Coordination of consultants; detailed construction documentation; comprehensive specifications; colour schemes; building consent applicat
            </p>
            </ul>
          </div>
          <div class="col s12 m4 l4">
            <ul>
              <li><img src="assets/image/home/gold.png" alt="architecture"> </li>
              <li><h5>Contract Administration</h5> </li>
              <p>Space planning; architectural design; engaging consultants; preliminary estimates of cost.
            </p>
            </ul>
          </div>
          <div class="col s12 m4 l4">
            <ul>
              <li><img src="assets/image/home/red.png" alt="architecture"> </li>
              <li><h5>Contract Observation</h5> </li>
              <p>Site observation; quality control; client reports </p>
            </ul>
          </div>
        </div>
      </div>


    </div>
 </div>
 </section>



 <section class="storm">
   <div class="row container">
    <div class="col s12 m6 l6">
      <ul>
        <li><img src="assets/image/home/circlegold.png" alt="architecture"> </li>
        <li><h4>MASTER PLANNING </h4> </li>
      </ul>
      <p>Analysis, recommendations and proposals of a layout to guide future development of a property or population</p>

    </div>
    <div class="col s12 m6 l6">
      <ul>
        <li><img src="assets/image/home/circlegold.png" alt="architecture"> </li>
        <li><h4>CONSTRUCTION</h4> </li>
       </ul>
       <p>Construction of buildings, Renovation and remodeling of properties</p>
    </div>

   </div>

   <div class="row">
    <div class="col s12 m6 l6">
      <ul>
        <li><img src="assets/image/home/circlegold.png" alt="architecture"> </li>
        <li><h4>PROJECT MANAGEMENT</h4> </li>
      </ul>
      <p>Specific goals are met in specific speculated time and cost
        through planning, executing, controlling and closing the work of
        a team </p>

    </div>
    <div class="col s12 m6 l6">
      <ul>
        <li><img src="assets/image/home/circlegold.png" alt="architecture"> </li>
        <li><h4>DEVELOPMENT CONSULTANTS</h4> </li>
       </ul>
       <p>Client needs are evaluated and expert advice and opinion on
         what needs to be done is proffered.</p>
    </div>
   </div>

   <div class="row">
    <div class="col s12 m6 l6">
      <ul>
        <li><img src="assets/image/home/circlegold.png" alt="architecture"> </li>
        <li><h4>INTERIOR DESIGN</h4> </li>
      </ul>
      <p>Enhancing of building interiors to create a healthy and more
        aesthetically pleasing environment using furniture, wall, floor
        and ceiling finishing.</p>
    </div>
    <div class="col s12 m6 l6">
      <ul>
        <li><img src="assets/image/home/circlegold.png" alt="architecture"> </li>
        <li><h4>LANDSCAPE</h4> </li>
       </ul>
       <p>Design of buildings and facilities outdoor areas, landmarks and
         structures to achieve environmental, socio-behavioral and
         aesthetic results</p>
    </div>
   </div>

   <div class="row">
    <div class="col s12 m6 l6">
      <ul>
        <li><img src="assets/image/home/circlegold.png" alt="architecture"> </li>
        <li><h4>FACILITY MANAGEMENT</h4> </li>
      </ul>
      <p> We ensure that buildings and their services meet the needs of
        the people that live or work in them and also make sure that the
        surrounding environment is in a suitable condition..</p>
    </div>
    <div class="col s12 m6 l6">
      <ul>
        <li><img src="assets/image/home/circlegold.png" alt="architecture"> </li>
        <li><h4>URBAN DESIGN</h4> </li>
       </ul>
       <p>Our aim is to create attractive, functional & safe urban
         environments linking buildings, spaces and activities. Urban
         design assessment reports including visual, bulk and spatial aanlysis </p>
    </div>
   </div>

   <div class="row">
    <div class="col s12 m6 l6">
      <ul>
        <li><img src="assets/image/home/circlegold.png" alt="architecture"> </li>
        <li><h4>REAL ESTATE</h4> </li>
      </ul>
      <p>Sales and Renting of Properties, Lands and building.</p>
    </div>
    <div class="col s12 m6 l6">
      <ul>
        <li><img src="assets/image/home/circlegold.png" alt="architecture"> </li>
        <li><h4>WEATHERTIGHTNESS SOLUTION</h4> </li>
       </ul>
       <p>Remedial design solutions and project management to repair leaking buildings</p>
    </div>
   </div>

   <div class="row">
    <div class="col s12 m6 l6">
      <ul>
        <li><img src="assets/image/home/circlegold.png" alt="architecture"> </li>
        <li><h4>PROJECT TYPES</h4> </li>
      </ul>
      <p>Industrial/Warehousing; Commercial Office; Interiors; Retail,
        Educational; Hospitality; Multi-Unit
        Residential; Private Residential</P>
    </div>
   </div>
   <div class="more">
     <p></p>
   </div>

 </section>

</div>

<%- include('./template/footer.ejs') %>
