<%- include('./template/header.ejs') %>

<div class="depend">
  <div class="gold1 g1"  style="background-image: url('assets/image/home/gold1.png')"></div>
  <div class="gold1 g2"  style="background-image: url('assets/image/home/gold1.png')"></div>
  <div class="gold1 g3"  style="background-image: url('assets/image/home/gold1.png')"></div>
  <div class="gold1 g4"  style="background-image: url('assets/image/home/gold1.png')"></div>
  <div class="gold1 g5"  style="background-image: url('assets/image/home/gold1.png')"></div>
  <div class="gold1 g6"  style="background-image: url('assets/image/home/gold1.png')"></div>
  <div class="gold1 b1"  style="background-image: url('assets/image/home/blue1.png')"></div>
  <div class="gold1 b2"  style="background-image: url('assets/image/home/blue1.png')"></div>
  <div class="gold1 b3"  style="background-image: url('assets/image/home/blue1.png')"></div>
  <div class="gold1 b4"  style="background-image: url('assets/image/home/blue1.png')"></div>
  <div class="gold1 b5"  style="background-image: url('assets/image/home/blue1.png')"></div>
  <div class="gold1 r1"  style="background-image: url('assets/image/home/red1.png')"></div>
  <div class="gold1 r2"  style="background-image: url('assets/image/home/red1.png')"></div>
  <div class="gold1 r3"  style="background-image: url('assets/image/home/red1.png')"></div>
  <div class="gold1 r4"  style="background-image: url('assets/image/home/red1.png')"></div>
  <div class="gold1 r5"  style="background-image: url('assets/image/home/red1.png')"></div>
  <div class="gold1 r6"  style="background-image: url('assets/image/home/red1.png')"></div>
  <section class="blog">
    <h4>Bold Facade Projects</h4>
    <p class="container center">Creating attractive, functional & safe urban environments linking buildings, spaces and activities. Urban design assessment reports including visual, bulk and spatial analysis.</p>
    <div class="row">
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image">

            <section class="slider vet1">
              <ul class="slides materialboxed">
                <li>
                  <img class="box" src="assets/image/slide/aa.webp"> <!-- random image -->
                </li>
                <li>
                  <img class="box" src="assets/image/slide/ab.webp"> <!-- random image -->
                </li>


              </ul>
              <span class="arrowB bb1" style="background-image: url('assets/image/navigation/next.png')">  </span>
              <span class="arrowF f1" style="background-image: url('assets/image/navigation/back.png')">  </span>
            </section>

          </div>

          <div class="card-action">
            <p class="light">Secretariat Complex Development Nsukka, Enugu State</p>
          </div>
        </div>
      </div>

      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image">
            <section class="slider vet2">
              <ul class="slides materialboxed">
                <li>
                  <img class="box" src="assets/image/slide/ba.webp"> <!-- random image -->
                </li>
                <li>
                  <img class="box" src="assets/image/slide/bb.webp"> <!-- random image -->
                </li>
                <li>
                  <img class="box" src="assets/image/slide/bc.webp"> <!-- random image -->
                </li>
                <li>
                  <img class="box" src="assets/image/slide/bd.webp"> <!-- random image -->
                </li>

              </ul>
              <span class="arrowB bb2" style="background-image: url('assets/image/navigation/next.png')">  </span>
              <span class="arrowF f2" style="background-image: url('assets/image/navigation/back.png')">  </span>
            </section>
          </div>

          <div class="card-action">
            <p class="light">5 Bedroon Semi Detached Duplex@Plot 391 Cadastral zone 07-07, Sabon Lugbe F.C.T Abuja</p>
          </div>
        </div>
      </div>

      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image">
            <section class="slider vet3">
              <ul class="slides materialboxed">

                <li>
                  <img class="box" src="assets/image/slide/cb.webp"> <!-- random image -->
                </li>

                <li>
                  <img class="box" src="assets/image/slide/cc.webp"> <!-- random image -->
                </li>
              </ul>
              <span class="arrowB bb3" style="background-image: url('assets/image/navigation/next.png')">  </span>
              <span class="arrowF f3" style="background-image: url('assets/image/navigation/back.png')">  </span>
            </section>
          </div>

          <div class="card-action">
            <p class="light">2 Bedroon Semi Detached Duplex@Plot 3790 Cadastral zone E27, Apo F.C.T Abuja</p>
          </div>
        </div>
      </div>

      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image">
            <section class="slider vet4">
              <ul class="slides materialboxed">
                <li>
                  <img class="box " src="assets/image/slide/da.webp"> <!-- random image -->
                </li>
                <li>
                  <img class="box " src="assets/image/slide/db.webp"> <!-- random image -->
                </li>

                <li>
                  <img class="box" src="assets/image/slide/dc.webp"> <!-- random image -->
                </li>
                <li>
                  <img class="box" src="assets/image/slide/ga.webp"> <!-- random image -->
                </li>
                <li>
                  <img class="box" src="assets/image/slide/gb.webp"> <!-- random image -->
                </li>
                <li>
                  <img class="box" src="assets/image/slide/gc.webp"> <!-- random image -->
                </li>
              </ul>
              <span class="arrowB bb4" style="background-image: url('assets/image/navigation/next.png')">  </span>
              <span class="arrowF f4" style="background-image: url('assets/image/navigation/back.png')">  </span>
            </section>
          </div>

          <div class="card-action">
            <p class="light lit4">Proposed Residential Estate Development @ Plot 16, Cadastral zone E32, Kyami, Abuja</p>
          </div>
        </div>
      </div>

      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image">
            <section class="slider vet5">
              <ul class="slides materialboxed">
                <li>
                  <img class="box" src="assets/image/slide/fa.webp"> <!-- random image -->
                </li>

                <li>
                  <img class="box" src="assets/image/slide/fc.webp"> <!-- random image -->
                </li>
              </ul>
              <span class="arrowB bb5" style="background-image: url('assets/image/navigation/next.png')">  </span>
              <span class="arrowF f5" style="background-image: url('assets/image/navigation/back.png')">  </span>
            </section>
          </div>

          <div class="card-action">
            <p class="light lit4">4 Bedroom Bungalow @ plot 106 Salihu Mu'azu Road, Malali, Kaduna State</p>
          </div>
        </div>
      </div>

      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image">
            <section class="slider vet6">
              <ul class="slides materialboxed">
                <li>
                  <img class="box" src="assets/image/slide/ha.webp"> <!-- random image -->
                </li>
                <li>
                  <img class="box" src="assets/image/slide/hb.webp"> <!-- random image -->
                </li>
                <li>
                  <img class="box" src="assets/image/slide/hc.webp"> <!-- random image -->
                </li>
              </ul>
              <span class="arrowB bb6" style="background-image: url('assets/image/navigation/next.png')">  </span>
              <span class="arrowF f6" style="background-image: url('assets/image/navigation/back.png')">  </span>
            </section>
          </div>

          <div class="card-action">
            <p class="light lit4">3 Bedroom Bungalow @ plot B24 Sabon Gari Bwari Abuja</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image">
            <section class="slider vet7">
              <ul class="slides materialboxed">
                <li>
                  <img class="box " src="assets/image/slide/o1.webp"> <!-- random image -->
                </li>
                <li>
                  <img class="box " src="assets/image/slide/o2.webp"> <!-- random image -->
                </li>

                <li>
                  <img class="box" src="assets/image/slide/o3.webp"> <!-- random image -->
                </li>

              </ul>
              <span class="arrowB bb7" style="background-image: url('assets/image/navigation/next.png')">  </span>
              <span class="arrowF f7" style="background-image: url('assets/image/navigation/back.png')">  </span>
            </section>
          </div>

          <div class="card-action">
            <p class="light lit4">Proposed Residential Development @ Plot 150E, Cadastral zone 07-05, Dawaki, Abuja</p>
          </div>
        </div>
      </div>

      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image">
            <section class="slider vet8">
              <ul class="slides materialboxed">
                <li>
                  <img class="box" src="assets/image/slide/m1.webp"> <!-- random image -->
                </li>

                <li>
                  <img class="box" src="assets/image/slide/m2.webp"> <!-- random image -->
                </li>
                <li>
                  <img class="box" src="assets/image/slide/m3.webp"> <!-- random image -->
                </li>
              </ul>
              <span class="arrowB bb8" style="background-image: url('assets/image/navigation/next.png')">  </span>
              <span class="arrowF f8" style="background-image: url('assets/image/navigation/back.png')">  </span>
            </section>
          </div>

          <div class="card-action">
            <p class="light lit4">Proposed Residential Estate Development @plot 603, Cadastral zone B10, Dakibiyu, FCT Abuja</p>
          </div>
        </div>
      </div>

      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image">
            <section class="slider vet9">
              <ul class="slides materialboxed">
                <li>
                  <img class="box" src="assets/image/slide/p1.webp"> <!-- random image -->
                </li>
                <li>
                  <img class="box" src="assets/image/slide/p2.webp"> <!-- random image -->
                </li>
                <li>
                  <img class="box" src="assets/image/slide/p3.webp"> <!-- random image -->
                </li>
                <li>
                  <img class="box" src="assets/image/slide/p4.webp"> <!-- random image -->
                </li>
              </ul>
              <span class="arrowB bb9" style="background-image: url('assets/image/navigation/next.png')">  </span>
              <span class="arrowF f9" style="background-image: url('assets/image/navigation/back.png')">  </span>
            </section>
          </div>

          <div class="card-action">
            <p class="light lit4">Proposed School of Architecture, Federal University of Technology, Minna</p>
          </div>
        </div>
      </div>

    </div>
  </section>



  <section class="req">
    <h4>Lets Get In touch</h4>
    <p class="container">Our infrastructural solutions can be customized to fit any business and budget. Our clients are able to count on us for superior job execution and expert advice. Knowing and listening to our customers has been essential to our continued success.</p>
    <p><a href="/contact" class="btn center">Contact</a></p>
  </section>

</div>

<%- include('./template/footer.ejs') %>
