<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
   	  <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="MASTER PLANNING, CONSTRUCTION, PROJECT MANAGEMENT, DEVELOPMENT CONSULTANTS,  INTERIOR DESIGN, LANDSCAPE, FACILITY MANAGEMENT, URBAN DESIGN, REAL ESTATE, WEATHERTIGHTNESS SOLUTIONS, PROJECT TYPES">
    <meta name="description" content="BOLD FACADE DEVELOPMENT SERVICES LIMITED is a multidisciplinary Architecture, Master
    planning, Construction, Interior design, Project management, Landscaping, Real Estate and
    Facility management firm. It was founded in 2020 by a team of young professionals many years
    of experience in the building Industry">
    <title>Bold Facade Development Services Limited</title>

    <link rel="stylesheet" href="/assets/css/all.css">
     <!-- Indexa Styles-->
      <link rel="shortcut icon" type="image/icon" href="assets/image/home/favicon.png" />
      <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
      <!--  Compiled and minified CSS-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <!-- Jquery Script -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.2/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.2/CSSRulePlugin.min.js"></script>
  </head>

  <body>
    <style>
    *{
        margin: 0;
        padding: 0;
        border: 0;
        box-sizing: border-box;
      }
      a:hover{
        opacity: 0.7!important;
      }
       a li:hover{
        opacity: 0.7!important;
      }
      #header{
        background-image: linear-gradient(transparent);
        background-position: top;
        background-size: cover;
        width: 100%;
        position: absolute;
        z-index: 21;
        top: 0px;
      }
      nav .sidenav-trigger{
        display: flex;
        justify-content: space-between;
      }
      .sidenav .user-view .circle{
        height: 170px!important;
        width: 100%!important;
      }
      .sidenav .user-view .name{
        font-size: 11px!important;
      }
      #topimg img{
        width: 100%;
        height: 59px;
        position: relative;
        top: -20px;
        display: inline!important;
        transform: scale(1.5);
      }
        .clean{
          display: block!important;
        }
      html:not(.no-js) [data-aos^=fade][data-aos^=fade]{
        opacity: 1!important;
      }
      .sidenav li a{
        color: white!important;
        font-size: 12px;
      }
      .placeholder{
        margin-top: 14px;
        margin-left: 20px;
        height: 48px;

      }
      .sidenav .user-view .background img{
        width: 100%;
        height: 100%;
      }
      @media screen and (min-width: 993px){
      #header .container{
        width: 90%!important;
      }
        }
        @media screen and (max-width: 993px){
          #header{
            position: static;
            z-index: 0;
          }
          nav .sidenav-trigger i{
            color: #039be5;
          }
          html:not(.no-js) [data-aos^=fade][data-aos^=fade]{
            opacity: 1!important;
          }
    }
    @media screen and (max-width: 995px){
    #topimg img{
      width: 30%;
      height: 117px;
    }
  }
  @media screen and (max-width: 895px){
  #topimg img{
    width: 33%;
    height: 117px;
  }
}
  @media screen and (max-width: 795px){
  #topimg img{
    width: 37%;
    height: 117px;
  }
}
@media screen and (max-width: 700px){
#topimg img{
  width: 40%;
  height: 117px;
}
}
      @media screen and (max-width: 650px){
        #header{
          position: static;
          z-index: 0;
        }
        #logo-name{
          margin-left: 0px;
             }
        nav .sidenav-trigger i{
          color: darkgrey;

        }
        #logo-name img{
          background: transparent;
        }
        html:not(.no-js) [data-aos^=fade][data-aos^=fade]{
          opacity: 1!important;
        }
        #topimg {
          width: 100%;
          height: 60px;
        }
        #topimg img{
          width: 50%;
          height: 120px;

        }
      }
      @media screen and (max-width: 495px){
        #topimg{
          width: 100%;
          height: 60px;
        }

        #topimg img{
            width: 60%;
            height: 112px;
        }
      }
      @media screen and (max-width: 395px){
          #topimg img{
            width: 65%;
            height: 98px;
          }

        }
        @media screen and (max-width: 350px){
           #topimg img{
             width: 77%;
             height: 115px;
           }

         }
    </style>

    <!-- NavBar-->
    <header id="header">
      <nav class="nav-wrapper">
        <div class="container">
          <a href=""  class="sidenav-trigger" data-target="mobile-menu">
            <span id="topimg"><img src="assets/image/home/boldfacadewhite.png" class="responsive-img"></span>
            <i class="material-icons white-text">menu</i>
          </a>
          <!--Larger Desktop screen-->
          <ul class="center hide-on-med-and-down">
            <li><a href="/" id="logname"><img src="assets/image/home/boldfacadewhite.png" class="responsive-img" ></a></li>
             <li><a href="about">About Us</a></li>
             <li><a href="portfolio">Portfolio</a></li>
             <li><a href="projects">Projects</a></li>
            <li><a href="blog">Blog</a></li>
            <li><a href="contact">Contact</a></li>
            <li class="btn placeholder  amber lighten-1  white-text  waves-effect waves-light"><a href="contact#getintouch" style="color: white!important">Get In Touch</a></li>
    </div>
          <!--Mobile screens-->
          <ul class="sidenav black lighten-1" id="mobile-menu">
            <li><div class="user-view">
                <div class="background">
                  <img src="assets/image/home/condo.jpg">
                </div>
                <a href="#user"><span class="circle"></a>

              </div>
            </li>

            <li><a href="/">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="portfolio" >Portfolio</a></li>
            <li><a href="projects" >Projects</a></li>
            <li><a href="blog">Blog</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="contact#getintouch">Get In Touch</a></li>
          </ul>
       </nav>
    </header>
